 *{
    margin: 0;
    top:0;
 }

.body{
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
}
#sign{
    background-color: #1D232C;
    color: white;
    display: flex;
    align-items: center;
    gap: 100px;
    height: 50px;
    font-size: 25px;
    padding-left: 450px;
    
   }

   .Navbar{ 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    font-size: 18px;
    position: sticky;
    background-color: white;
   }
   .Navbar__left{
    font-weight:900;
   }
   .Navbar__right{
    display: flex;
    gap:55px;
   }
   .Navbar__right a:hover{
    cursor: pointer;
    text-decoration: underline;
   }

   .menuitems{
    margin-left: 0px;
    margin-top: 10px;
    padding: 20px;
     width:800px;
     height: 500px;
     background-color:#1D232C;
     color:white;
     display: flex;
    
}
.menus p{
    font-weight: bolder;
    margin-left: 30px;
    padding-left: 30px;
    padding-bottom: 80px;
}

   .Slide-container{
     border: solid black 3px;
    width:1500px;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
     
   }
   .slides{
   
    width: 100%;
    position: relative;
    overflow: hidden;
   }
   .slides img{
   
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
   }
   .slides img:not(.active){
    top:0;
    left:-100%;
   
   }
   span.next, span.prev{
    position: absolute;
    transform: translate(-50%);
    padding: 15px;
    color:white;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    cursor: pointer;
   
    font-size: 100px;
    
   }
   span.next{
   top:250px;
    right: 90px;
    
   }
   span.prev{
    left:150px;
    top:250px;
   
   }

  @keyframes next1{
    from{
        left:0%;
    }
    to{
        left:-100%;
    }
  }

  @keyframes next2{
    from{
        left:100%;
    }
    to{
        left:0%;
    }
  }
  
  @keyframes prev1{
    from{
        left:0%;
    }
    to{
        left:100%;
    }
  }

  @keyframes prev2{
    from{
        left:-100%;
    }
    to{
        left:0%;
    }
  }

  .slide-text-h1{
    position: absolute;
    color: white;
    top:200px;
    right:350px;
    font-size: 35px;
  }
 
  .slide-text-p h4{
    position: absolute;
    color: white;
    top:300px;
    right:700px;
    font-size: 20px;
  }
  .slide-text-p button{
    position: absolute;
    width: 100px;
    padding: 5px;
    top:350px;
    right:750px;
  }
  .brand__h1{
    margin:5px;
    padding: 15px;
}

.Brands{
    margin:5px;
    padding: 15px;
    width:95%;
    height: 200px;
    display: flex; 
    gap:120px;
   
}

.Brand__logo{
    padding: 20px;
    width:5%;
    height: 50%; 
}

.Brand__logo img{
    width:90%;
    height:90%;
}
.Brand__logo h2{
   padding-right:25px ;
}


.Brand__below{
    display: flex;
    width: 100%;
    height: 80px;
   margin: 10px;
  gap:390px;
}
.Brand__below__left{
    width: 30%;
}

.contents{ 
    margin:2px;
    padding: 15px;
    width:95%;
    height: 200px;
    display: flex; 
    gap:30px;  
}
.contents1{
  width: 23%;
  height: 120px;
  background-color: gray;
  padding: 10px;
}
.contents1 p{
    font-size: 18px;
}
.arrivals,.wanted{
    margin-top: 30px;
    margin-left: 10px;
}
.Card__one{
    padding:10px;
    margin:10px;
  display: flex;
  justify-content: space-between;
  margin-top:10px;
}
.Card__one__01 {
    width: 20%;
    position:relative;
    background-color: gray; 
}
 .Card__one__01 img{
    width: 100%;
   
 }
.Card__one__01 button{
    padding:5px;
    position: absolute;
    top:50%;
    right:90px;
    color:black;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;   
}
.horizontal_slider{
    display: block;
    width: 100%;
    overflow-x: scroll;
    margin: 40px;
}
.horizontal_slider::-webkit-scrollbar{
  opacity: 0.4;
}
.slider_cointainer{
   
    white-space: nowrap;
}
.items{
    display: inline-block;
    margin-right:10px ;
    position: relative;
}
.items img{
    width: 350px;
}
.sale {
    padding: 15px;
    width:45px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    position: absolute;
    top:0;
    left:0;
    font-size: 20px;
}
.items h1{
    position: absolute;
    bottom: 0;
    top:85%;
    left: 290px;
    z-index: 1;
}



.Limited{

    margin-top: 30px;
    margin-left: 40px;
    width: 90%;
    height: 400px;
    background-color: #1D232C;
    color: white;
    display: flex;
    gap: 150px;
}

.Limited__left{
    padding-top: 30px;
    padding-left: 120px;
    width: 40%;
    height: 100%;
}
.Limited__left img{
    width: 100%;
    height: 80%;
}
.Limited__right{
    width: 70%;
    padding-top: 60px;
    padding-left: 20px;
    font-size: 30px;
}
.Limited__right button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 20px;

}
.col_side{
    margin: 30px;
    margin-left: 0;
    display: flex;
    gap:20px;
    width: 1500px;
    height: 1400px; 
}
.col_side_left{
    width: 20%;
    margin: 10px;
    padding: 10px;
    border-right: solid black 3px; 
    display: flex;
    flex-direction: column;
}
.col_side_left1 p,.col_side_left2 p,.col_side_left3 p{
    
    font-size: 30px;
} 
.col_side_right{
    display: flex;
    flex-direction: column;
}
.col_card1{
  margin: 20px;
  width: 1200px;
  height: 400px;
  
  display: flex;
  gap: 10px;
}
.col_card_first{
    margin: 10px;
    width: 350px;
    height: 380px;
    
}
.col_card_first img{
    width: 99%;
    height:76%;
}
.col_card_first h1{
    padding: 10px;
}

.Newsletter{
    margin-top: 30px;   
    width: 100%;
    height: 300px;
    text-align: center;
    font-size: 25px;
}
.Newsletter input{
    margin: 20px;
    padding: 10px;
    width:70%;
    height: 20px;
    border: solid black 2px;
}
.Newsletter button{
    width:130px;
    height: 50px;
    font-size: 20px;
    background-color: black;
    color:white;

}
.Footer{
    margin-top: 30px;
    padding: 30px ;
    width:1500px;
    height: 300px;
    background-color: #1D232C;
    color:white;
    font-size: 25px;
    text-align: left;
}


.footer-icons{
    display: flex;
    gap: 40px;
}

  @media screen and (max-width:800px){
    .Slide-container{
       width: 600px;
       height: 200px;
    }
    .slide-text-h1,.slide-text-p{
        font-size: 10px;
        text-align: center;
        right: 140px;
    }
 span.next, span.prev{
    font-size: 20px;
    top:180px;
 }
 #sign{
    display:none;
 }
 
.Navbar__right{
    display: none;
}
.menuitems{
        display: none;
    }
}

@media screen and (min-width:800px){

    #menuicon{
        display: none;
    }
    .menuitems{
        display: none;
    }
    
}